<#import "*/page.ftl" as p>
<@p.page title="ArticleFeed">
<div class="d-flex flex-column m-2 justify-content-center min-vh-100 widwin mx-auto">
    <div class="card text-center">
        <h4 class="cardhead activewhite"><b>ArticleFeed</b><i class="fas fa-rss pl-2 iconstl activewhite"></i></h4>
        <p>Вы в шаге от своей страницы</p>
        <a class="btn p-2 mx-2 w-auto btnlight" href="/signIn"><b>Войти</b></a>
        <p>или</p>
        <a class="btn p-2 mx-2 mb-2 w-auto btnlight" href="/signUp"><b>Зарегистрироваться</b></a>
    </div>
</div>
</@p.page>